@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;500;600;700&display=swap");

// ========================= Resets =====================
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  color: inherit;
}

// ========================= Var =======================

$VeryDarkBlue: hsl(243, 87%, 12%);
$DesaturatedBlue: hsl(238, 22%, 44%);
$BrightBlue: hsl(224, 93%, 58%);
$ModerateCyan: hsl(170, 45%, 43%);
$LightGrayishBlue: hsl(240, 75%, 98%);
$LightGray: hsl(0, 0%, 41%);

// === fonts ====
$primary: "Open Sans", sans-serif;
$secondary: "Raleway", sans-serif;

// =========================== mixing ===================
@mixin outline {
  outline: 1px solid red;
}

@mixin bottomspace-15 {
  margin-bottom: 15px;
}

@mixin bottomspace-35 {
  margin-bottom: 35px;
}

@mixin bottomspace-80 {
  margin-bottom: 80px;
}

@mixin bottomspace-100 {
  margin-bottom: 100px;
}

// ========================== base ==================
body {
  font-size: 1.6rem;
  font-family: $primary;
  color: $VeryDarkBlue;
}

h1,
h2 {
  line-height: 1.5;
  letter-spacing: 1px;
  font-weight: 700;
  color: $VeryDarkBlue;
  @include bottomspace-35;
}

h1 {
  font-size: 2.7rem;
}

h2 {
  font-size: 2.3rem;
  letter-spacing: 0.1px;
}

p {
  line-height: 1.6;
  letter-spacing: 0.6px;
  @include bottomspace-35;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// =================== Nav bar ====================
nav {
  margin: 25px auto 100px;
  font-family: $secondary;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: $VeryDarkBlue;
  img {
    max-width: 30%;
  }
  ul {
    width: min(58%, 300px);
    display: flex;
    justify-content: space-between;
  }
}

// ========================== Hero ==========================
.hero {
  text-align: center;
  @include bottomspace-100;
  img {
    @include bottomspace-80;
  }
}

input,
button {
  outline: none;
  font-size: 1.6rem;
  letter-spacing: 0.5px;
  width: 95%;
  padding: 16px 25px;
  border: 1px solid $LightGray;
  border-radius: 5px;
  @include bottomspace-15;
}

button {
  font-family: $secondary;
  font-weight: 700;
  word-spacing: 2px;
  background-color: $BrightBlue;
  color: $LightGrayishBlue;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  transition: all 0.25s ease-in-out;
  &:hover,
  &:focus {
    opacity: 0.8;
  }
}

// ====================== Feature ========================
.feature {
  background: url(./Assets/images/bg-curve-mobile.svg) no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding: 100px 0 80px;
  .feature__img {
    @include bottomspace-80;
  }
  h2 {
    text-align: center;
  }
  p {
    color: $LightGray;
  }
  a {
    color: $ModerateCyan;
    display: inline;
    position: relative;
  }
  a::after {
    position: absolute;
    content: "";
    top: 25px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $ModerateCyan;
  }
  .arrow {
    display: inline;
  }
  .works {
    display: flex;
    justify-content: center;
  }
}

.card {
  background-color: #fff;
  max-width: 90%;
  margin: 50px auto 0;
  box-shadow: 1px 1px 10px rgb(212, 212, 212);
  border-radius: 5px;
  padding: 30px;
  font-size: 1.1rem;
  p {
    padding: 10px 0 0;
    color: $VeryDarkBlue;
    @include bottomspace-15;
  }
}
.profile {
  display: flex;
  align-items: center;
  img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 15px;
  }
  p {
    padding: initial;
    margin-bottom: 0;
  }
}

// ===================== layout stuff =========================
.wrapper {
  max-width: 375px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  // @include outline;
}

// Desktop
@media screen and (min-width: 1024px) {
  // ========== layout ===========
  .wrapper {
    max-width: 1440px;
    width: 90%;
  }

  // =========== base ===============
  h1,
  h2 {
    font-family: $secondary;
    font-size: 3.8rem;
    max-width: 620px;
  }

  p {
    max-width: 570px;
  }

  input,
  button {
    padding: 12px 25px;
    margin-bottom: 0;
  }

  input {
    border: 1px solid $VeryDarkBlue;
  }

  button {
    font-weight: 500;
    max-width: 200px;
    margin-left: 20px;
  }

  // ============= navbar =============
  nav {
    margin: 50px auto;
    font-weight: 500;
  }

  // =============== hero ================
  .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    img {
      max-width: 50%;
    }
    .hero__text {
      max-width: 50%;
      text-align: left;
      @include bottomspace-100;
    }
    form {
      display: flex;
      max-width: 85%;
    }
  }

  // ================== Feature ===================
  .feature {
    background: url(./Assets/images/bg-curve-desktop.svg) no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    h2 {
      text-align: left;
    }
    p {
      color: $VeryDarkBlue;
    }
    .works {
      justify-content: flex-start;
    }
  }

  .feature-desktop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row-reverse;

    img {
      max-width: 50%;
    }
  }

  .card {
    margin: 60px 0 0 0;
    max-width: 65%;
    font-size: 1.4rem;
  }
  .profile p{
    font-size: 1.2rem;
  }
}
